.transaction-list {
  display: flex;
  flex-direction: column;

  &__meta {
    color: #757575;
    font-size: .75rem;
  }

  &__comment {
    margin-left: 1rem;
  }

  &__load-more {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    padding: 1rem;
    align-items: center;
    transition: 500ms all ease;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-color);
    }

    &:hover {
      cursor: pointer;
      background: var(--hover-bg);
    }
  }

  &__amount {
    margin-left: auto;

    &_positive {
      font-weight: bold;
      color: #757575;
    }
  }

  &__explorer {
    font-size: 1.5rem;
    margin-left: .5rem;
    line-height: 1.5rem;
    color: #000 !important;
  }
}
