.create {
  width: 100%;
  padding: 2rem;
  flex-direction: column;

  &__heading {
    margin-top: 0;
    font-weight: 500;
  }

  &__warning {
    margin-bottom: 1rem;
    border-style: solid;
    border-color: #fff;
    border-width: 1px 1px 1px 3px;

    .it-icon {
      font-size: 2rem;
    }
  }

  &__phrase {
    margin-bottom: 2rem;

    &-container {
      width: 100%;
      flex-direction: column;
    }

    &-header {
      display: flex;
      margin-bottom: 1rem;
      justify-content: flex-end;
    }

    .it-tag {
      color: #000;
      font-size: 1.1rem;
      margin-bottom: .5rem;

      &:not(:last-of-type) {
        margin-right: .5rem;
      }
    }
  }
}
