.receive {
  display: flex;
  padding-top: 0;
  align-items: center;
  justify-content: center;

  &__dialog .q-card {
    min-width: 44rem;
  }

  &__code {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
  }

  &__address {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
