.header {
  display: flex;
  height: 3.75rem;
  position: relative;
  background: #6164ff;

  .container {
    align-items: center;
  }

  &__logo {
    flex: 1;
    color: $primary;
    height: 1.25rem;
    font-weight: bold;

    svg {
      width: auto;
      height: 1.25rem;
      fill: var(--logo-color);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
  }
}
